* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
	font-family: 'Helvetica', 'Oswald', 'Josefin Sans', 'Lilita One', 'Cabin', sans-serif;
	background-color: #efefef;
}
a,a:hover,a:visited,a:active {
	outline: none;
    border: none;
    text-decoration: none;
}
/* TYPOGRAPHIC */
h1 { font-family: 'Lilita One',sans-serif }
h2 { font-family: 'Cabin', sans-serif }

.navbar-light .navbar-nav .nav-link {color: rgba(228, 227, 227, 0.8)}
.navbar-light .navbar-nav .nav-link:hover {	color: #fff }
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {color: #fff }

.head-title { width: 60% }

/* Background & Color Custom */
.size-10 { width: 10% !important}
.size-25 { width: 25% !important}
.size-50 { width: 50% }
.size-100 { width: 100% }

.bg-navy { background-color: #29303e }
.bg-aqua { background-color: #005BAC}
.bg-orange { background-color: #fb7c3b }
.bg-white { background-color: #ffffff }
.bg-halfgrey { background-color: #ececec}
.bg-grevy { background-color: #6c757d}

.text-black { color: #000000}
.text-grey { color: #827f7f}
.text-green { color: #1dda1d }
.text-grevy { color: #6c757d}

.no-border { border: none; border-radius: 0}
/* Button Custom */
.btn {
	padding: 9px 15px;
	font-weight: bold;
}
.btn-outline-secondary.focus, .btn-outline-secondary:focus {
    box-shadow: none ;
}

/* Separator  */
.separator { 
	position: relative;;
	z-index:1;
	top:auto;
	right:0;
	left:0;
	overflow:hidden;
	width:100%;
	height:300px;
	transform:translateZ(0);pointer-events:none}
	.separator svg{
		position:absolute;
		pointer-events:none
	}
	.separator-top{
		top:0;
		bottom:auto
	}
	.separator-top svg{top:0}
	.separator-bottom{top:auto;bottom:0}
	.separator-bottom svg{bottom:0}
	.separator-inverse{transform:rotate(180deg)}
	.separator-skew{height:60px}

	.fill-white { fill: #efefef }
	.fill-navy { fill: #29303e }


/* Navbar */
/* ============= */
.navbar-light .navbar-brand {
	width: 75%;
}
.navbar-nav {
	font-family: 'Josefin Sans',sans-serif;
}

/* Banner */
/* ============= */
.banner-page h1 {
	font-family: 'Lilita One', sans-serif;
}
.banner-page .separator {
	position: absolute;
}

/* Brand */
/* ============= */

/* Service Intro */
/* ============= */
.service-intro .area-card .card {
	border-radius: 20px;
}
.service-intro .area-card .card-body img {
	border-radius: 19px 19px 0px 0px;
}


.service-intro .card .card-body {
	padding: 0;
}

.service-intro .card .card-body h5.card-title {
	font-weight: bold;
	font-size: 20px;
	color: #212529;
}

.service-intro .card .card-body p.card-text {
	font-size: 12px;
	color: #212529;
}

.service-intro a.link-card:hover .card {
	box-shadow: 0 6px 25px rgba(0,0,0,.175)!important;
	transition: all 0.3s ease;
}

.service-intro .separator {
	position: relative;
}

/* How it's Works */
/* ============= */
.works .btn {
	border-color: #1dda1d;
}

.works .btn:hover {
	background-color: #1dda1d;
}

.works .separator {
	position: relative;
}


/* Service Machine POS */
/* ============= */

/* Testimonial */
/* ============= */

/* Label */
/* ============= */

/* Footer */
/* ============= */
footer > div.bg-navy.pt-3 > div > div > ul > li > a > i {
	color: #fff;
}

.footer .card-header.border-0.text-uppercase.font-weight-bold {
	background-color: white;
}
footer > div.container> div > div > div > div > div.widget.hidden-xs-down > ul > ul > li > a,
footer div#collapseOne > div > ul > li > a,
footer div#collapseTwo > div > ul > li > a,
footer div#collapseThree > div > ul > li > a {
	color: #6d6d6d;
}

/* Product Page */
/* ================== */
.border-bot {
	border-bottom: 1px dotted #c6c6c6;
}
.main_product_content div.product-wrap ul {
	list-style: none;
}
.main_product_content ul li {
	margin-bottom: 20px;
}
.main_product_content .span3 {
	float: none;
    width: 97%;
}

.main_product_content .block-product:hover,
.hot-product .block-product {
	background: #FFF;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid #005BAC;
    border-radius: 5px;
    padding: 10px 20px;
}
.box-product-hover {
    padding: 10px;
    background: #FFF;
    border-bottom: 3px solid #005BAC;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    margin: 0;
    text-align: center;
    z-index: 10;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
}
.main_product_content .block-product {
	height: auto;
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.main_product_content .box-product {
    border-bottom: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.main_product_content .block-product figure:first-child {
	display: inline-block;
    margin-right: 30px;
	vertical-align: top;
	position: relative;
    width: 27%;
}
.main_product_content a.img-product {
    display: block;
    position: relative;
    margin-bottom: 12px;
}
.main_product_content img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.main_product_content .list-block {
	display: block;
}
.main_product_content .list-block {
	display: inline-block;
	width: 63%;
	position: relative;
	z-index: 10;
}
.main_product_content .block-product .list-block p {
	font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 150%;
    max-height: 2.8em;
}

/* Product Wrap Detail */
.gallery-product .gallery,
.gallery-product .gallery div.gallery-item,
.gallery-product .gallery div.gallery-item img {
	display: inline-block;
}
.gallery-product div.list-group {
	text-align: left;
}
.gallery-product div.list-group.gallery .gallery-item { 
	padding: 5px
}

.main_product_content .product-wrap-detail .block-product figure:first-child,
.main_product_content .product-wrap-detail .list-block {
	width: 100%;
}
.main_product_area .product-wrap-detail .block-product {
	background: #FFF;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid #005BAC;
    border-radius: 5px;
    padding: 10px 20px;
}
.main_product_content .product-wrap-detail .block-product {
	margin-bottom: 20px; 
}
.main_product_content .desc-product .specification-product table {
	width: 100%;
    background-color: #FFF;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #D4D4D4;
    margin: 0 0 18px 0;
}
.main_product_content .desc-product .specification-product table th {
    background-color: #f0f0f0;
    padding: 5px;
    font-size: 0.9em;
    line-height: 145%;
    border: 1px solid #D4D4D4;
    color: #3f3f3f;
}
.main_product_content .desc-product .specification-product table tr:first-child>th {
    background-color: #E4E6E9;
    color: #005BAC;
    text-transform: uppercase;
}
.main_product_area .desc-product .specification-product table td {
	background-color: transparent;
    padding: 5px;
    font-size: 0.9em;
    line-height: 145%;
    border: 1px solid #D4D4D4;
}


.main_product_area .desc-product img.zoom {
	width: 100%;
	height: 200px;
	border-radius:5px;
	object-fit:cover;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}


.main_product_area .desc-product .transition {
	-webkit-transform: scale(1.2); 
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.main_product_area .desc-product .modal-header {
	border-bottom: none;
}
.main_product_area .desc-product .modal-title {
	color:#000;
}
.main_product_area .desc-product .modal-footer{
	display:none;  
}

.main_product_content #myTabContent {
	border: 1px solid #ddd;
    border-top: none;
}

/* HOT PRODUCT */
.main_product_area .hot-product .list-block {
}

.side-desc {
	background-color: #fff;
    border-top: 1px solid #e4e4e2;
    border: 5px solid #d6d6d6;
    padding: 15px 20px;
    margin-bottom: 30px;
}
.side-desc p {
	font-size: 14px
}

/* Contact Page */
/* ================== */



@media (min-width: 576px) { 
	nav.navbar a.navbar-brand img.img-fluid {
		width: 25%;
	}
 }

@media (max-width: 575.98px) {
	 /* Navbar */
	nav.navbar a.navbar-brand img.img-fluid {
		width: 80% !important;
	}
	/* Banner Page */
	body > div.banner-page.position-relative.overflow-hidden.mb-3.text-white.bg-navy > div.p-3.p-md-5 > div > div.col-md-6.my-5.float-left > h1 {
		font-size: 2em;
	}
	body > div.banner-page.position-relative.overflow-hidden.mb-3.text-white.bg-navy > div.p-3.p-md-5 > div > div.col-md-6.my-5.float-left > p {
		font-size: 15px;
	}

	body > div.service-pos.overflow-hidden.text-center > div > div > div.col-md-12.mb-5 > div {
		width: 100%;
	}
	body > div.service-pos.overflow-hidden.text-center > div > div > div.col-md-12.mb-5 > div > h2 {
		font-size: 25px;
	}

	body > div.label.bg-navy.p-4 > div > div > div:nth-child(1) > h2 {
		font-size: 17px;
		text-align: center;
	}

	/* Footer */
	body > footer > div > div > div.col-12.col-sm-12.col-md-5 > img {
		width: 90% !important;
	}
	footer div#headingOne > h5 > a:hover,
	footer div#headingTwo > h5 > a:hover,
	footer div#headingThree > h5 > a:hover {
		color: #000;
	}

	/* Product Page */
	/* ================== */
	div.main_product_area.my-5 > div > div > div.main_product_content > h3 { 
		font-size: 20px;
	}
	div.main_product_area.my-5 > div > div > div.main_product_content > h5 {
		font-size: 15px;
	}
	.box-product {
		margin: 0;
	}
	.main_product_content .span3 {
		width: 90%;
	}
	.main_product_content .block-product figure:first-child {
		width: 100%;
		margin-left: 0px;
	}
	.main_product_content .list-block {
		width: 100%;
	}
	.main_product_content ul {
		margin:0;
		padding:0;
		list-style: none;
	}
	.main_product_content .tab-content .span3 {
		width: 100%;
	}
	.main_product_content  div.block-product {
		width: 80%;
		margin-left: 10%;
	}
	.main_product_content figure:first-child {
		width: 100%;
		margin: 0;
	}
	.main_product_content figure.box-product a.img-product img {
		margin: 0;
		padding: 0;
		width: 100% !important;
		float: none;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 991px) and (max-width: 1290.98px) { 
	.navbar-light .navbar-brand {
		width: 66%;
	}
 }